.container {
  margin: 0 5%;
  padding: 2.5rem 5rem;
  background-color: #f4e8de;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  max-width: 100rem;
  /* display: grid;
    grid-template-columns: repeat(auto-fit, 20rem); */
}
.item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
}

.itemTitle {
  font-size: 1.1rem;
  font-weight: 500;
}
.itemTitle span {
  font-weight: 600;
  color: #f78f02;
  /* font-size: 1.25rem; */
}
.remove {
  margin-left: 1rem;
  cursor: pointer;
  color: #6d6d6d;
}
.remove:hover {
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.imageWrapper {
  order: -1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 12rem;
  width: 8rem;
  height: 9rem;
  width: 6rem;
}
.buttons {
  margin: 0 5%;
  padding: 2.5rem 5rem;
  display: flex;

  justify-content: space-between;
}
.buttons h3 {
  color: #f78f02;
}
.buttons h3 span {
  color: #555555;
}
.primary {
  border: none;
  border-radius: 50px;
  background-color: #f78f02;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.emptyCart p:nth-child(1) {
  font-size: 3rem;
  color: #6d6d6d;
  font-weight: 600;
  text-align: center;
}
.emptyCart p:nth-child(2) {
  font-size: 1.2rem;
  color: #6d6d6d;

  text-align: center;
}
@media (max-width: 600px) {
  .imageWrapper {
  }
}
