.container {
  margin: 2rem 5%;
  /* margin: 1rem 0 1rem 5%; */
}
.title {
  color: #5e5c5c;
  font-size: 1.25rem;
}
.books {
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
  margin-top: 1rem;
}

.books::-webkit-scrollbar {
  display: none;
}
